{% extends "base.html" %}
{% block content_title %}
<div class='jumbotron'>
  <center>
    <h2>The 8th Annual</h2>
    <h1><strong>Scientific Software Days Conference</strong></h1>
    <h2>Austin, Texas</h2>
    <h2>April 27&ndash;28, 2017</h1>
  </center>
</div>
{% endblock %}
{% block content %}

<div class='panel panel-default'>
  <div class='panel-heading' id='About'><h2><strong>About</strong></h2></div>
  <div class='panel-body'>
    <p>
      Scientific Software Days (SSD) is a successful regional conference that has been
      held for eight years running at the University of Texas, Austin. This year we
      are seeking to expand the impact of the conference to a national scale.   The
      target audience are users and developers of scientific software, and the goals
      of the conference are two fold:
    </p>
    <ol>
      <li>
        Share best practices among scientific software communities.
      <li>
        Share the latest tools and technology relevant to scientific software.
    </ol>
    <p>
      Past keynotes speakers include Greg Wilson (2008), Victoria Stodden
      (2009), Steve Easterbrook (2010), Fernando Perez (2011), Aleksandra
      Pawlik and Will Schroeder (2012), Neil Chue Hong (2013), Jeff Hammond
      and Robert van de Geijn (2016).
    </p>
  </div>
</div>

<div class='panel panel-default'>
  <div class='panel-heading' id='Keynotes'><h2><strong>Keynote Speakers</strong></h1></div>
  <div class='panel-body'>
    <div class='row' style='margin-bottom: 10px;' id='riviere'>
      <div class='col-sm-5 col-md-4 col-lg-3 portrait'>
        <a target='_blank' href='http://compm.rice.edu/people-2/beatrice-riviere'>
          <img src='/images/BeatriceRiviere.jpg' alt='Beatrice Riviere'>
        </a>
      </div>
      <div class='col-sm-7 col-md-8 col-lg-9'>
        <h3>
          <strong>
            <a target='_blank' href='http://compm.rice.edu/people-2/beatrice-riviere'>Beatrice Riviere</a>
            <small>Rice University</small>
          </strong>
        </h3>

        {# <p><h4><i> #}
        {#   &ldquo;Intelligent Design of Scientific Software&rdquo; #}
        {# </i> #}
        {# <a href='/pdf/2016_slides/vandegeijn.pptx'>[slides (.pptx): 88MB]</a></h4> #}

        <ul>
          <li>Professor, Noah G. Haring Chair, Computational and Applied Mathematics Department</li>
          <li>Ph.D. in Computational and Applied Mathematics (2000), The University of Texas at Austin</li>
          <li>Master of Arts in Mathematics (1996), Pennsylvania State University</li>
          <li>Diplome d’Ingenieur de l’Ecole Centrale de Lyon (1995)</li>
          <li>Licence de Mathematiques, Universite Claude Bernard de Lyon (1993)</li>
        </ul>
      </div>
    </div>

    <div class='row' id='Hoemmen'>
      <div class='col-sm-5 col-md-4 col-lg-3 portrait'>
        <a target='_blank' href='https://plus.google.com/+MarkHoemmen/posts'>
          <img src='/images/MarkHoemmen.jpg' alt='Mark Hoemmen'>
        </a>
      </div>
      <div class='col-sm-7 col-md-8 col-lg-9'>
        <h3>
          <strong>
            <a target='_blank' href='https://plus.google.com/+MarkHoemmen/posts'>Mark Hoemmen</a>
            <small>Sandia National Laboratories</small>
          </strong>
        </h3>

        <p><h4><i>
          &ldquo;Thread parallelism in Trilinos' sparse linear algebra interfaces and linear solvers&rdquo;
        </i></h4>

        <ul>
          <li>Senior Computational Scientist</li>
          <li>Ph.D. in Computer Science, University of California, Berkeley</li>
          <li>B.S. in Mathematics and Computer Science, University of Illinois Urbana-Champaign</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='panel panel-default'>
  <div class='panel-heading' id='Speakers'><h2><strong>Speakers</strong></h2></div>
  <div class='panel-body'>
    <div class='row' style='margin-bottom: 10px;' id='Adams'>
      <div class='col-sm-3 col-md-3 col-lg-3 portrait'>
        <a target='_blank' href='http://www.sandia.gov/~briadam/index.html'>
          <img  src='/images/BrianAdams.jpg' alt='Brian Adams'>
        </a>
      </div>
      <div class='col-sm-9 col-md-9 col-lg-9'>
        <h4><strong>
          <a target='_blank' href="http://www.sandia.gov/~briadam/index.html">Brian Adams</a>
          <small>Sandia National Laboratories</small>
        </strong></h4>

        <p><h5><i>
          &ldquo;Dakota: Benefits and Challenges of Lab-developed Open Source Scientific Software&rdquo;
        </i>
        <a href='/pdf/2016_slides/adams.pdf'>[slides (.pdf): 1.6MB]</a></h5>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-3 col-md-3 col-lg-3 portrait' id='Stogner'>
        <a target='_blank' href="https://scholar.google.com/citations?user=XcurJI0AAAAJ">
          <img  src='/images/RoyStogner.jpg' alt='Roy Stogner'>
        </a>
      </div>
      <div class='col-sm-9 col-md-9 col-lg-9'>
        <h4><strong>
          <a target='_blank' href="https://scholar.google.com/citations?user=XcurJI0AAAAJ">Roy Stogner</a>
          <small>University of Texas at Austin</small>
        </strong></h4>

        <p>
        <h5><i>
          &ldquo;PDE Discretization and Analysis with libMesh&rdquo;
        </i>
        <a href='/pdf/2016_slides/stogner.pdf'>[slides (.pdf): 1.3MB]</a></h5>
      </div>
    </div>
  </div>
</div>

{# <div class='panel panel-default'> #}
{#   <div class='panel-heading' id='Schedule'><h2><strong>Schedule</strong></h2></div> #}
{#   <div class='panel-body'> #}
{#     <table class="table"> #}
{#       <tr> #}
{#         <td></td> <td><strong>Thur., Feb. 25</strong></td> <td><strong>Fri., Feb. 26</strong></td> #}
{#       </tr> #}
{#       <tr> #}
{#         <td><strong>8:00&ndash;9:00</strong></td> #}
{#         <td>Registration/Breakfast</td> <td>Breakfast</td> #}
{#       </tr> #}
{#       <tr> #}
{#         <td><strong>9:00&ndash;10:00</strong></td> #}
{#         <td><a href='#vandeGeijn'>Keynote: Robert van de Geijn</a></td> #}
{#         <td><a href='#Hoemmen'><strike>Keynote: Mark Hoemmen</strike></a> <strong>(cancelled)</strong> #}
{#           <p><a href='#Hammond'>Jeff Hammond</a> #}
{#         </td> #}
{#       </tr> #}
{#       <tr> #}
{#         <td><strong>10:00&ndash;10:30</strong></td> #}
{#         <td>Coffee</td> #}
{#         <td>Coffee</td> #}
{#       </tr> #}
{#       <tr> #}
{#         <td><strong>10:30&ndash;10:55</strong></td> #}
{#         <td><a href='#Quammen'>Cory Quammen</a></td> #}
{#         <td><a href='#Adams'>Brian Adams</a></td> #}
{#       </tr> #}
{#       <tr> #}
{#         <td><strong>10:55&ndash;11:20</strong></td> #}
{#         <td><a href='#Hammond'><strike>Jeff Hammond</strike></a> #}
{#           <p><a target='_blank' href='http://danielskatz.org/'>Dan Katz</a> #}
{#         </td> #}
{#         <td><a href='#Funke'>Simon Funke</a></td> #}
{#       </tr> #}
{#       <tr> #}
{#         <td><strong>11:20&ndash;11:45</strong></td> #}
{#         <td><a href='#Dunning'>Iain Dunning</a></td> #}
{#         <td><a href='#Stogner'>Roy Stogner</a></td> #}
{#       </tr> #}
{#       <tr> #}
{#         <td><strong>11:45&ndash;1:15</strong></td> #}
{#         <td>Lunch</td> #}
{#         <td>Lunch</td> #}
{#       </tr> #}
{#       <tr> #}
{#         <td><strong>1:15&ndash;1:40</strong></td> #}
{#         <td><a href='#Perez'>Fernando Perez</a></td> #}
{#         <td><a href='#Davis'>Tim Davis</a></td> #}
{#       </tr> #}
{#       <tr> #}
{#         <td><strong>1:40&ndash;2:05</strong></td> #}
{#         <td><a href='#Brown'>Jed Brown</a></td> #}
{#         <td><a href='#Eijkhout'>Victor Eijkhout</a></td> #}
{#       </tr> #}
{#       <tr> #}
{#         <td><strong>2:05&ndash;2:20</strong></td> #}
{#         <td>Coffee</td> #}
{#         <td>Coffee</td> #}
{#       </tr> #}
{#       <tr> #}
{#         <td><strong>2:20&ndash;2:45</strong></td> #}
{#         <td><a href='#Scott'>Ridgway Scott</a></td> #}
{#         <td><a href='#Howison'>James Howison</a></td> #}
{#       </tr> #}
{#       <tr> #}
{#         <td><strong>2:45&ndash;3:05</strong></td> #}
{#         <td><a href='#Doig'>Christine Doig</a></td> #}
{#         <td>Panel: #}
{#           <ul> #}
{#             <li> #}
{#               <a href='#Davis'>Tim Davis</a> #}
{#             </li> #}
{#             <li> #}
{#               <a href='#Doig'>Christine Doig</a> #}
{#             </li> #}
{#             <li> #}
{#               <a href='#Proft'>Jennifer Proft</a> #}
{#             </li> #}
{#           </ul> #}
{#         </td> #}
{#       </tr> #}
{#       <tr> #}
{#         <td><strong>3:05&ndash;4:00</strong></td> #}
{#         <td><a href='#Posters'>Poster session</a></td> #}
{#         <td></td> #}
{#       </tr> #}
{#       <tr> #}
{#         <td><strong>4:00&ndash;5:00</strong></td> #}
{#         <td>SIAM Student Chapter Event</td> #}
{#         <td></td> #}
{#       </tr> #}
{#     </table> #}
{#   </div> #}
{# </div> #}

<div class='panel panel-default'>
  <div class='panel-heading' id='Registration'><h2><strong>Registration</strong></h2></div>
  <div class='panel-body'>
    <p>
      Conference registration is done through Eventbrite.  Click the 'Register'
      button and you can then select what type of registration (student vs.
      non-student) to purchase.
    </p>
    <ul>
      <li>
        If you register as a student, please remember to bring valid student ID
        with you to the event.
      </li>
      <li>
        Refunds will be allowed up until two weeks before the event.
      </li>
      <li>
        To present proof of your registration purchase at the conference, please
        either print out your ticket or use the Eventbrite mobile app to present
        your ticket.
      </li>
    </ul>

    <div align="center">
      <a role="button" class="btn btn-primary" target="_blank"
       href="https://www.eventbrite.com/e/scientific-software-days-2017-registration-31955068470">
        <h3><strong>Register
        <p><small>(redirects to Eventbrite)</small></strong></h3>
      </a>
    </div>
  </div>
</div>


<div class='panel panel-default'>
  <div class='panel-heading' id='Posters'><h2><strong>Workshop information</strong></h2></div>
  <div class='panel-body'>

  <p>
    Two parallel workshops will be held on the second day.  These workshops are
    hands-on and participants are encouraged to bring their laptops to follow
    along with the material.
  </p>

  </div>
</div>

<div class='panel panel-default'>
  <div class='panel-heading' id='Location'><h2><strong>Location &amp; Travel</strong></h2></div>
  <div class='panel-body'>

    <h3><strong>Travel Support</strong></h3>

    <p>
      The conference has a limited amount of funding to support students
      traveling to the conference.  Priority will be given to members of
      underrepresented groups.
    </p>

    <p>To apply for travel support, please fill out<a href='asdf'>this Google Form</a>.</p>

    <h3><strong>Location</strong></h3>

    <p>Talks will be held in the <a target='_blank' href="http://www.aces.utexas.edu/seminar/2.302/frames/total.htm">Avaya Auditorium</a> in the <a href="https://www.google.com/maps/place/Peter+O'Donnell+Jr+Building,+201+E+24th+St,+Austin,+TX+78712">Peter O'Donnell Jr. Building</a> on the corner of East 24th Street &amp; Speedway on the campus of the University of Texas at Austin.</p>

    <iframe width="100%" height="350px" style="max-width: 425px;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=201+East+24th+Street,+Austin,+TX+78712&amp;aq=&amp;sll=30.286753,-97.736317&amp;sspn=149.559833,0.351562&amp;ie=UTF8&amp;hq=&amp;hnear=201+E+24th+St,+Austin,+Travis,+Texas+78712&amp;t=m&amp;ll=30.293831,-97.735577&amp;spn=0.025939,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
      <a href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=201+East+24th+Street,+Austin,+TX+78712&amp;aq=&amp;sll=30.286753,-97.736317&amp;sspn=149.559833,0.351562&amp;ie=UTF8&amp;hq=&amp;hnear=201+E+24th+St,+Austin,+Travis,+Texas+78712&amp;t=m&amp;ll=30.293831,-97.735577&amp;spn=0.025939,0.036478&amp;z=14&amp;iwloc=A">
        View Larger Map
      </a>
    </small>

    <p/>

    <h3><strong>Lodging</strong></h3>

    <p>Here are some options that are reasonably convenient:

    <ul>
      <li>
        <a target='_blank' href="http://www.daysinn.com/hotels/texas/austin/days-inn-austin-university-downtown/hotel-overview">Days Inn</a>
      </li>
      <li>
        <a target='_blank' href="http://laquintaaustincapitol.com">La Quinta</a>
      </li>
      <li>
        <a target='_blank' href="https://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=3079">Sheraton</a>
      </li>
    </ul>

    <h3><strong>Transportation</strong></h3>

    <p><strong>Public transportation:</strong> <a target='_blank' href="http://www.capmetro.org/planner/">Capital Metro</a> has frequent routes to and from the UT campus; UT-specific route information can be found <a target='_blank' href="http://www.utexas.edu/parking/transportation/capmetro/">here</a>. <a target='_blank' href="http://www.capmetro.org/schedmap/?svc=0&f1=007&s=1&d=1">Route 7</a> is the nearest route for the Embassy Suites hotel; routes
    <a target='_blank' href="http://www.capmetro.org/schedmap/?svc=0&f1=1&s=0&d=N">1</a>,
    <a target='_blank' href="http://www.capmetro.org/schedmap/?svc=0&f1=3&s=0&d=N">3</a>,
    <a target='_blank' href="http://www.capmetro.org/schedmap/?svc=0&f1=5&s=0&d=N">5</a>,
    <a target='_blank' href="http://www.capmetro.org/schedmap/?svc=0&f1=7&s=0&d=N">7</a>, and
    <a target='_blank' href="http://www.capmetro.org/schedmap/?svc=0&f1=8&s=0&d=N">8</a> all go from campus to stops downtown, as well as the
    <a target='_blank' href="http://www.capmetro.org/schedmap/?svc=0&f1=801&s=0&d=N">801 rapid</a>.

    Capital Metro also has <a target='_blank' href="https://www.capmetro.org/airport/">buses to and from the airport</a>.

    <p><strong>Visitor parking</strong> information for UT Austin can be found <a target='_blank' href="http://www.utexas.edu/parking/parking/visitor/">here</a>.</p>

  </div>
</div>

<div class='panel panel-default'>
  <div class='panel-heading'><h2><strong>Steering Committee</strong></h2></div>
  <div class='panel-body'>
    <ul>
      <li>
        <h4><strong><a target='_blank' href="http://www.jsg.utexas.edu/researcher/sergey_fomel/">Sergey Fomel</a> <small>University of Texas at Austin</small></strong></h4>
      </li>
      <li>
        <h4><strong><a target='_blank' href="http://sites.baylor.edu/robert_kirby/">Robert Kirby</a> <small>Baylor University</small></strong></h4>
      </li>
      <li>
        <h4><strong><a target='_blank' href="http://www.caam.rice.edu/~mk51/">Matt Knepley</a> <small>Rice University</small></strong></h4>
      </li>
      <li>
        <h4><strong><a target='_blank' href="http://www.math.ttu.edu/~klong/">Kevin Long</a> <small>Texas Tech University</small></strong></h4>
      </li>
      <li>
        <h4><strong><a target='_blank' href="https://www.tacc.utexas.edu/about/directory/suzanne-pierce">Suzanne Pierce</a> <small>Texas Advance Computing Center</small></strong></h4>
      </li>
      <li>
        <h4><strong><a target='_blank' href='https://www.linkedin.com/in/jim-stewart-81a0755'>James Stewart</a> <small>Sandia National Laboratories</small></strong></h4>
      </li>
    </ul>
  </div>
</div>

<div class='panel panel-default'>
  <div class='panel-heading'><h2><strong>Organizing Committee</strong></h2></div>
  <div class='panel-body'>
    <ul>
      <li>
        <h4><strong><a target='_blank' href="https://github.com/dmcdougall">Damon McDougall</a>
            <small>University of Texas as Austin</small></strong></h4>
      </li>
      <li><div id='Proft'>
          <h4><strong><a target='_blank' href="http://users.ices.utexas.edu/~jennifer/">Jennifer Proft</a> <small>University of Texas at Austin</small></strong></h4></div>
      </li>
      <li>
        <h4><strong><a target='_blank' href="http://home.uchicago.edu/~tisaac/">Tobin Isaac</a> <small>University of Chicago</small></strong></h4>
      </li>
    </ul>
  </div>
</div>

<!--
<h2> News </h2>

<br/><br/>


{% if articles %}
{% for article in articles_page.object_list %}
# First item #}
{% if loop.first and not articles_page.has_previous() %}

    <div class='article'>
        <div class="content-title">
            <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
            {% include "metadata.html" %}
        </div>

        <div>{{ article.content }}</div>
        <hr />
    </div>

    {% if loop.length == 1 %}
        {% include 'pagination.html' %}
    {% endif %}

{# other items #}
{% else %}

    <div class='article'>
        <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
        <div class= "well small"> {% include "metadata.html" %} </div>
        <div class="summary">{{ article.summary }} <a class="btn btn-info xsmall" href="{{ SITEURL }}/{{ article.url }}">read more</a></div>
    </div>


    {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %}
        {% include 'pagination.html' %}
    {% endif %}

{% endif %} # First item if #}

{% endfor %} # For article #}
{% endif %} # If articles #}
-->

{% endblock content %}

