{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        


<div class='article'>
  <div class="content-title"><h1><a href="pages/2013_details.html">CALL FOR PARTICIPATION - SSD 2013</a></h1></div>
We are accepting submissions for SSD 2013. If you would like to participate, please submit your abstract <a href="https://docs.google.com/forms/d/15YZ-8csoNLmG3NT_zHgmo_6vY9ngGWegCCisXTm4pcM/viewform">here</a>.

</div>

<div class='article'>
  <div class="content-title"><h1>About</h1></div>
    Scientific Software Days is an ongoing meeting of users and producers of scientific software, with presentations by scientific software tool makers and the users of their tools. 

The intent is to develop skills and networks among scientific software developers and practitioners.

Presentations are split between corss-cutting software tools and stories of of successful software deployment in various disciplines.

Commonly, less than optimal paths are taken in scientific software development, largely because of resources and skills
stretched between the relevant science specialties and professional programming. Available tools and methos\ds
are not always known or available to the people who need them. We seek to build a community to address these needs.


<h2> Keynote </h2>

The Seventh Annual Software Days keynote address will be given by Neil Chue Hong, director of the Software Sustainability Institute of the University of Edinburgh.


</div>

<div class='article'>
  <div class="content-title"><h1>Sponsors</h1></div>
  Scientific Software Days is sponsored by the Jackson School of Geosciences, Texas Advanced Computing Center, and the Insitute for Computational Engineering and Sciences, with funding from XSEDE, the Extreme Science and Engineering Discovery Environment program.

</div>

<hr />

<!--
<h1> News </h1>

<br/><br/>


{% if articles %}
{% for article in articles_page.object_list %}        
{# First item #}
{% if loop.first and not articles_page.has_previous() %}

    <div class='article'>
        <div class="content-title">
            <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
            {% include "metadata.html" %} 
        </div>
        
        <div>{{ article.content }}</div>
        <hr />
    </div>
		
    {% if loop.length == 1 %}
        {% include 'pagination.html' %}
    {% endif %}

{# other items #}
{% else %} 

    <div class='article'>
        <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
        <div class= "well small"> {% include "metadata.html" %} </div>
        <div class="summary">{{ article.summary }} <a class="btn btn-info xsmall" href="{{ SITEURL }}/{{ article.url }}">read more</a></div>
    </div>	

				
    {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %}
        {% include 'pagination.html' %}
    {% endif %}

{% endif %} {# First item if #}

{% endfor %} {# For article #}
{% endif %} {# If articles #}
-->

{% endblock content %}

