{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        

  <div class="content-title"><h1><center>SCIENTIFIC SOFTWARE DAYS 2013</center></h1></div>
  <div class="content-title"><h1><center>AUSTIN TX December 16-17</center></h1></div>

<hr />

<div class='article'>
  <div class="content-title"><center><h1>HIGHLIGHTS OF SCIENTIFIC SOFTWARE DAYS 2013 </h1></center>`</div>
  <div class="content-title"><center><h1>DECEMBER 16 - 17 2013 </h1></center></div>
</div>


<div class='article'>
<h2> Keynote </h2>
<p>
The Seventh Annual Software Days keynote address will be given by <a href="http://www.ph.ed.ac.uk/people/neil-chue-hong">Neil Chue Hong</a>, director of the Software Sustainability Institute of the University of Edinburgh.
</p>
<p>Dr. Hong will speak on <b>Software Sustainability</b></p>
</div>

<div class='article'>
<h2> Featured Presentation </h2>
<p>
We will also feature a presentation by <a href="http://www.ph.ed.ac.uk/people/neil-chue-hong">James Howison</a> of the Information Institute of the University of Texas, on "Scientific Software Production: Incentives and Collaboration"
</p>
</div>


<div class='article'>
<h2> Tutorials Tuesday </h2>
<p>
Tutorials will be offered on "Scientific Python with NumPy and SciPy", and on "Processing Big Data in Parallel with R".
</p>
</div>


<div class='article'>
  <div class="content-title"><h2><a href="pages/2013_details.html">PLANNING TO ATTEND SSD 2013?</a></h2></div>
<p>There is no cost for attendance. Please register using <a href="https://docs.google.com/forms/d/19L2ov2Nu_QMGcKbSMi1DZXuLOBfa1CDO9tK5X9KEuM4/viewform">this form</a>.
</p>
<hr />
</div>

<div class='article'>
  <div class="content-title"><h2><a href="pages/2013_call.html">CALL FOR PARTICIPATION - SSD 2013</a></h2></div>
<p>We are accepting submissions for SSD 2013.</p><p> If you would like to present, please submit your abstract <a href="https://docs.google.com/forms/d/15YZ-8csoNLmG3NT_zHgmo_6vY9ngGWegCCisXTm4pcM/viewform">here</a>.
</p>
See the Call for Presentations <a href="pages/2013_call.html">here</a>.
<hr />
</div>

<center><img src="images/austin.jpg"> </center> 

<div class='article'>
  <div class="content-title"><h2>About</h2></div>
<p>    Scientific Software Days is an ongoing meeting of users and producers of scientific software, with presentations by scientific software tool makers and the users of their tools. 
</p><p>
The intent is to develop skills and networks among scientific software developers and practitioners.
</p><p>
Presentations are split between cross-cutting software tools and stories of of successful software deployment in various disciplines.
</p><p> Commonly, less than optimal paths are taken in scientific software development, largely because of resources and skills
stretched between the relevant science specialties and professional programming. Available tools and methods
are not always known or available to the people who need them. We seek to build a community to address these needs.
</p>

</div>

<div class='article'>
  <div class="content-title"><h2>Sponsors</h2></div>
<p>Scientific Software Days is sponsored by the Jackson School of Geosciences, Texas Advanced Computing Center, and the Insitute for Computational Engineering and Sciences, with funding from XSEDE, the Extreme Science and Engineering Discovery Environment program.
</p>
</div>

<hr />

<!--
<h2> News </h2>

<br/><br/>


{% if articles %}
{% for article in articles_page.object_list %}        
# First item #}
{% if loop.first and not articles_page.has_previous() %}

    <div class='article'>
        <div class="content-title">
            <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
            {% include "metadata.html" %} 
        </div>
        
        <div>{{ article.content }}</div>
        <hr />
    </div>
		
    {% if loop.length == 1 %}
        {% include 'pagination.html' %}
    {% endif %}

{# other items #}
{% else %} 

    <div class='article'>
        <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
        <div class= "well small"> {% include "metadata.html" %} </div>
        <div class="summary">{{ article.summary }} <a class="btn btn-info xsmall" href="{{ SITEURL }}/{{ article.url }}">read more</a></div>
    </div>	

				
    {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %}
        {% include 'pagination.html' %}
    {% endif %}

{% endif %} # First item if #}

{% endfor %} # For article #}
{% endif %} # If articles #}
-->

{% endblock content %}

